.exchange__container {
    height: 100vh;
    width: 100vw;
    background-color: #37517e;
}

.exchange__container .jumbotron {
    background-color: transparent;
}
.exchange__container .jumbotron .main__header {
    font-size: 1.5rem;
    color: #ffffff;
    padding: 1.15em;
    /* border-bottom: 1px solid #EEE; */
    margin-bottom: 1em;
    font-weight: 400;
} 

.fx-calculator {
    z-index: 2;
    position: relative;
}

.current-rate {
    margin: 100px 0;
}