*, *::before, *::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

label {
  font-size: 14px;
  color: #5d7079;
  line-height: 20px;
  -webkit-transition: color .15s ease-in-out;
  -o-transition: color ease-in-out .15s;
  transition: color .15s ease-in-out;
}

.App-link {
  color: #09d3ac;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}